<div class="customer-review">
  <div class="wrapper">
    {% if section.settings.title != blank %}
    <h1 class="headers-custom">{{ section.settings.title }}</h1>
    {% endif %}
    {% if section.blocks.size > 0 %}
    <div class="review-carousel">
      {% for block in section.blocks %}
      <div class="carousel-cell">
        <div class="review-item">
          <div class="review-star">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7233 12.206C16.2963 12.639 16.1023 13.263 16.2023 13.875L16.8473 17.791C17.0483 19.01 16.1183 20 15.0633 20C14.7853 20 14.4983 19.931 14.2203 19.779L10.8453 17.93C10.5813 17.786 10.2923 17.714 10.0023 17.714C9.71328 17.714 9.42428 17.786 9.16028 17.93L5.78528 19.779C5.50728 19.931 5.22028 20 4.94228 20C3.88728 20 2.95728 19.01 3.15828 17.791L3.80328 13.875C3.90328 13.263 3.70928 12.639 3.28228 12.206L0.551281 9.433C-0.522719 8.342 0.0702796 6.44099 1.55428 6.21599L5.32828 5.64499C5.91828 5.55599 6.42828 5.16999 6.69128 4.61299L8.37928 1.05099C8.71128 0.349995 9.35728 0 10.0023 0C10.6483 0 11.2943 0.349995 11.6263 1.05099L13.3143 4.61299C13.5773 5.16999 14.0873 5.55599 14.6773 5.64499L18.4513 6.21599C19.9353 6.44099 20.5283 8.342 19.4543 9.433L16.7233 12.206Z" fill="#333333"/>
            </svg>
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7233 12.206C16.2963 12.639 16.1023 13.263 16.2023 13.875L16.8473 17.791C17.0483 19.01 16.1183 20 15.0633 20C14.7853 20 14.4983 19.931 14.2203 19.779L10.8453 17.93C10.5813 17.786 10.2923 17.714 10.0023 17.714C9.71328 17.714 9.42428 17.786 9.16028 17.93L5.78528 19.779C5.50728 19.931 5.22028 20 4.94228 20C3.88728 20 2.95728 19.01 3.15828 17.791L3.80328 13.875C3.90328 13.263 3.70928 12.639 3.28228 12.206L0.551281 9.433C-0.522719 8.342 0.0702796 6.44099 1.55428 6.21599L5.32828 5.64499C5.91828 5.55599 6.42828 5.16999 6.69128 4.61299L8.37928 1.05099C8.71128 0.349995 9.35728 0 10.0023 0C10.6483 0 11.2943 0.349995 11.6263 1.05099L13.3143 4.61299C13.5773 5.16999 14.0873 5.55599 14.6773 5.64499L18.4513 6.21599C19.9353 6.44099 20.5283 8.342 19.4543 9.433L16.7233 12.206Z" fill="#333333"/>
            </svg>
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7233 12.206C16.2963 12.639 16.1023 13.263 16.2023 13.875L16.8473 17.791C17.0483 19.01 16.1183 20 15.0633 20C14.7853 20 14.4983 19.931 14.2203 19.779L10.8453 17.93C10.5813 17.786 10.2923 17.714 10.0023 17.714C9.71328 17.714 9.42428 17.786 9.16028 17.93L5.78528 19.779C5.50728 19.931 5.22028 20 4.94228 20C3.88728 20 2.95728 19.01 3.15828 17.791L3.80328 13.875C3.90328 13.263 3.70928 12.639 3.28228 12.206L0.551281 9.433C-0.522719 8.342 0.0702796 6.44099 1.55428 6.21599L5.32828 5.64499C5.91828 5.55599 6.42828 5.16999 6.69128 4.61299L8.37928 1.05099C8.71128 0.349995 9.35728 0 10.0023 0C10.6483 0 11.2943 0.349995 11.6263 1.05099L13.3143 4.61299C13.5773 5.16999 14.0873 5.55599 14.6773 5.64499L18.4513 6.21599C19.9353 6.44099 20.5283 8.342 19.4543 9.433L16.7233 12.206Z" fill="#333333"/>
            </svg>
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7233 12.206C16.2963 12.639 16.1023 13.263 16.2023 13.875L16.8473 17.791C17.0483 19.01 16.1183 20 15.0633 20C14.7853 20 14.4983 19.931 14.2203 19.779L10.8453 17.93C10.5813 17.786 10.2923 17.714 10.0023 17.714C9.71328 17.714 9.42428 17.786 9.16028 17.93L5.78528 19.779C5.50728 19.931 5.22028 20 4.94228 20C3.88728 20 2.95728 19.01 3.15828 17.791L3.80328 13.875C3.90328 13.263 3.70928 12.639 3.28228 12.206L0.551281 9.433C-0.522719 8.342 0.0702796 6.44099 1.55428 6.21599L5.32828 5.64499C5.91828 5.55599 6.42828 5.16999 6.69128 4.61299L8.37928 1.05099C8.71128 0.349995 9.35728 0 10.0023 0C10.6483 0 11.2943 0.349995 11.6263 1.05099L13.3143 4.61299C13.5773 5.16999 14.0873 5.55599 14.6773 5.64499L18.4513 6.21599C19.9353 6.44099 20.5283 8.342 19.4543 9.433L16.7233 12.206Z" fill="#333333"/>
            </svg>
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7233 12.206C16.2963 12.639 16.1023 13.263 16.2023 13.875L16.8473 17.791C17.0483 19.01 16.1183 20 15.0633 20C14.7853 20 14.4983 19.931 14.2203 19.779L10.8453 17.93C10.5813 17.786 10.2923 17.714 10.0023 17.714C9.71328 17.714 9.42428 17.786 9.16028 17.93L5.78528 19.779C5.50728 19.931 5.22028 20 4.94228 20C3.88728 20 2.95728 19.01 3.15828 17.791L3.80328 13.875C3.90328 13.263 3.70928 12.639 3.28228 12.206L0.551281 9.433C-0.522719 8.342 0.0702796 6.44099 1.55428 6.21599L5.32828 5.64499C5.91828 5.55599 6.42828 5.16999 6.69128 4.61299L8.37928 1.05099C8.71128 0.349995 9.35728 0 10.0023 0C10.6483 0 11.2943 0.349995 11.6263 1.05099L13.3143 4.61299C13.5773 5.16999 14.0873 5.55599 14.6773 5.64499L18.4513 6.21599C19.9353 6.44099 20.5283 8.342 19.4543 9.433L16.7233 12.206Z" fill="#333333"/>
            </svg>
          </div>
          {% if block.settings.quote != blank %}
          <div class="rte-setting rte">{{ block.settings.quote }}</div>
          {% endif %}
          {% if block.settings.author != blank %}
          <cite>{{ block.settings.author | escape }}</cite>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    
  </div>
</div>

{% schema %}
  {
    "name": "Reviews",
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Customer Reviews"
      }
	],
	"blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews",
        "category": "Text",
		"blocks": [
          {
            "type": "review"
          },
          {
            "type": "review"
          },
          {
            "type": "review"
          }
        ]
      }
    ]
  }
{% endschema %}
