{% section 'page-banners' %}
{% section 'page-results-content' %}
{% section 'page-results-slider' %}

{% if page.content != blank %}
  {% comment %}<div class="page-wysywig wrapper">
    {{ page.content }}
  </div>
  <br><br><br><br>{% endcomment %}
{% endif %} 